.div-nav {
  margin-top: 20px;
  .company-name {
    font-size: 44px !important;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-flow: column wrap;

    :nth-child(1) {
      color: rgb(91, 89, 89);
      padding: 0px;
    }
    :nth-child(2) {
      color: white;
      text-shadow: 2px 3px 6px grey;
      padding: 0px;
      margin-top: -25px;
    }
    :nth-child(3) {
      font-size: 13px;
      font-weight: bold;
      padding: 1px 5px;
      color: rgb(164, 85, 85) !important;
      font-family: "Courier New", Courier, monospace;
      margin-top: -10px;
      text-shadow: 3px 3px 6px gray;
    }
  }
  nav {
    margin: auto;
    color: black;
    padding: 0px 20px;
    float: right;
    div {
      ul {
        li {
          padding: 0px 7px;
          margin-left: 10px;
          background-color: #e8e8e8;
          border: 1px solid #d9dde0;
          box-shadow: 2px 2px 5px #dadada;
        }

        @media screen and (max-width: 770px) {
          li {
            padding: 0px 3px;
          }
        }
      }
    }
    a {
      color: black;
    }
  }
}
