$containerHeight: 100vh;
$containerWidth: 1300px;
$containerPadding: 20px;

$containerBG: rgb(230 229 228 / 64%);
$footerBG: #61605ff7;
$footerColor: white;
$footerFSize: 12px;
$footerCompanyFSize: 10px;

$inputHeight: 34px;
$inputBG: white;
$inputRadius: 0px;

$stickyGetQuoteTop: 180px;

//hour-minute-and-dropdown
$hourminute-input-width: 40px;
