.img-div {
  img {
    height: 60px;
    width: auto;
    align-items: center;
  }
  span, p {
    font-weight: lighter;
    text-align: center;
    font-size: 10px;
    line-height: 7px;
  }

  p {
    color: rgb(202, 199, 199);
  }
  .p-head{
    color: #ffc107 !important;
  }
}
