<div class="container">
  <div id="aboutuse" class="adboutus item">
    <h3>Abour Us</h3>
    <div class="item">
      We work as a company with pulic hire taxi drivers to provide them quality of work.
      They are all
      licenced taxi drivers under local authority carry. They all go through strict
      rules and regulations criteria. All the drivers are fully licenced carry a
      full taxi insurance covers themselves and all the passengers. We make sure
      that they have fully fitted vehicles. Most of these vehicles are under
      five years old, but even vehicles older than five-years are subject to two
      MOT tests to be eligibled as a taxi vehicle.
    </div>
    <div class="item">
      We have been in taxi industry for 20 years, and we are fully aware the
      values passengers can expect from any Taxi Company. We run our service 24
      hours a day with pre-quoted flat fare, and we never charge extra fare
      after midnight. We try to run door-to-door service to keep our fares as
      low as possible.
    </div>
      <div class="item">
        Currently we are operating from Gatwick Airport but we intend to extend
        our operation to other airports. You can make a booking from or to
        Gatwick Airport
      </div>
    </div>
</div>

