<div class="overlay"></div>
<div class="flex-container p-4" >
  <div class="item" style="z-index: 1">
    <div class="quote-flex-container">
      <div class="quote"></div>
      <app-getquote
        [ngClass]="IsStickyGetQuote == true ? 'stickyGetQuote' : ''"
      ></app-getquote>
    </div>

    <!-- <img class="img-car" src="../../../assets/vehicles/8Seater-removebg-preview.png" alt="Taxi" /> -->
  </div>

  <div cdBox [bgColor]="'#0c090196'" class="item right-box-welcomemessage">
    <div class="welcomeMessage" style="z-index: 2">
      <h1 class="welcome sm-fs-45">Welcome to Airport Transfer Service</h1>
      <p class="fs- sm-white-color">
        Book your taxi online using our easy to use template. We are 24-Hours
        flat-rate service. We work with local taxi drivers. We promise to prvide
        a competive and most reliable service.
      </p>
    </div>

    <div class="services" style="z-index: 2">
      <div class="sitem">
        <app-vehicle class="img-div" vehicleImage={{salooncarImage}} vehicleDesc={{salooncarDesc}} ></app-vehicle>
      </div>
      <div class="sitem">
        <app-vehicle class="img-div" vehicleImage={{executivecarImage}} vehicleDesc={{executivecarDesc}} ></app-vehicle>
      </div>

      <div class="sitem">
        <app-vehicle class="img-div"  vehicleImage={{mpvcarImage}} vehicleDesc={{mpvcarDesc}} ></app-vehicle>
      </div>
      <div class="sitem">
        <app-vehicle class="img-div" icon="fa fa-wheelchair"  vehicleImage={{wheelchaircarImage}} vehicleDesc={{wheelchaircarDesc}}  ></app-vehicle>
      </div>
      <div class="sitem">
        <div class="img-div" @carfade>
          <app-vehicle class="img-div" icon="fa fa-wheelchair"  vehicleImage={{_8seatercarImage}} vehicleDesc={{_8seatercarDesc}}  ></app-vehicle>
        </div>
    </div>
  </div>
</div>
