@import "../../../variables.scss";
.flex-container {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  padding: 30px 10px;
  background-color: #ffc107;
  width: 400px;

  div {
    height: $inputHeight;
    background-color: gray;
    margin-bottom: 10px;

    i {
      position: absolute;
      margin-left: 6px;
      margin-top: 8px;
      color: #cfcac3;
      z-index: 1;
      font-size: 17px;
    }

    .fa-calendar {
      margin-left: 4px;
    }

    input, .datepickup {
      height: $inputHeight !important;
      height: 34px !important;
      margin: 0px 0px 0px 23px !important;
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    #pickup,
    #dest,
    #datetimepickup,
    #addstop {
      //padding: 0px 22px;
      text-transform: capitalize;
    }
  }


  // .div-via {
  //   padding: 0px;
  //   margin-top: -10px;
  // }

  .pickupdate-time-flex-container {
    display: flex;
    flex-direction: row;
    .item {
      margin-right: 10px;
      div {
        margin-top: 0px !important;
      }
    }

    .css-pickuptime {
      display: flex;
      flex-direction: row;
      background-color: white;
      i {
      }
      .item {
        margin-top: 6px;
        width: 30px;
        div {
          background-color: transparent;
          span {
            margin-top: 36px;
            position: absolute;
            width: 33px;
            z-index: 1;
          }
          input {
            text-align: center;
            width: $hourminute-input-width;
            cursor: pointer;
            border-left: 1px solid gray !important;
            :nth-child(2) {
              border: none !important;
            }
          }
        }
        .span-hh-mm-dropdown {
          margin-top: 46px !important;
          position: absolute !important;
          margin-left: 0px;
          width: $hourminute-input-width;
          z-index: 10;
          p {
            margin-top: -11px;
            text-align: center;
            cursor: pointer;
            z-index: 10;
            background-color: white;
          }
        }
      }
      .item:nth-child(2) {
        margin-left: 25px;
      }
    }
  }
}

mat-form-field {
  width: 150px !important;
  ::ng-deep {
    .mat-form-field-wrapper {
      padding: 0px !important;
      background-color: transparent;
    }

    .mat-form-field-flex {
      padding: 3px 25px !important;
      background-color: white;
      height: $inputHeight;
      border-radius: $inputRadius;
    }

    .mat-form-field-infix {
      margin-top: -13px;
      padding: 0px !important;
      input.mat-datepicker-input {
        padding: 0px !important;
        margin: 0px !important;
      }
    }

    .mat-form-field-suffix {
      // position: absolute !important;
      // right: 3px !important;
      // padding: 0px;
      // top: 6px;
      // height: 18px !important;
      // width: 18px !important;
      .mat-focus-indicator {
        display: inline-flex;
        justify-content: normal !important;
        align-items: normal !important;
        font-size: inherit;
        width: 2.5em;
        height: 2.5em;
      }
      .mat-focus-indicator {
        position: absolute !important;
        right: -23px !important;
        padding: 2px;
        top: -28px;
        height: 26px !important;
        width: 26px !important;
        background-color: #ffc107;
      }
    }

    .mat-form-field-underline {
      display: none;
    }
  }
}
