@import "../../../variables.scss";
.flex-container {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  padding: 30px 10px;
  background-color: #ffc107;
  width: 400px;

  .item {
    display: flex;
    flex-direction: column;
  }
  i {
    position: absolute;
    margin-left: 6px;
    margin-top: 11px;
    color: #cfcac3;
    z-index: 1;
  }
  select {
    padding-left: 25px !important;
    margin-bottom: 10px;
    height: $inputHeight;
    border: none;
  }

  input {
    padding-left: 25px !important;
    margin-bottom: 10px;
  }

  .div-via {
    height: $inputHeight;
    padding: 0px;
    margin-top: -10px;
  }
}

mat-form-field {
  width: 150px !important;
  ::ng-deep {
    .mat-form-field-wrapper {
      padding: 0px !important;
      background-color: transparent;
    }

    .mat-form-field-flex {
      padding: 3px 25px !important;
      background-color: white;
      height: $inputHeight;
      border-radius: $inputRadius;
    }

    .mat-form-field-infix {
      margin-top: -13px;
      padding: 0px !important;
      input.mat-datepicker-input {
        padding: 0px !important;
        margin: 0px !important;
      }
    }

    .mat-form-field-suffix {
      // position: absolute !important;
      // right: 3px !important;
      // padding: 0px;
      // top: 6px;
      // height: 18px !important;
      // width: 18px !important;
      .mat-focus-indicator {
        display: inline-flex;
        justify-content: normal !important;
        align-items: normal !important;
        font-size: inherit;
        width: 2.5em;
        height: 2.5em;
      }
      .mat-focus-indicator {
        position: absolute !important;
        right: -23px !important;
        padding: 2px;
        top: -28px;
        height: 26px !important;
        width: 26px !important;
        background-color: #ffc107;
      }
    }

    .mat-form-field-underline {
      display: none;
    }
  }
}
